<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<link rel="stylesheet" href="/style/reset.css">
<link rel="stylesheet" href="/style/layout.css">
<link rel="stylesheet" href="/style/base.css">
<link rel="stylesheet" href="/style/modules.css">
</head>
<body>
    <header>
        <h1>Best Books!</h1>
      
        <nav>
            <ul>

            </ul>
        </nav>
    </header>
   <main>
    <h2>Hello everyone, our website for book's searching</h2>
    <p id="mainp"> you can search about books by <a href="/searches/new">clicking here</a></p>
   </main>
   <footer></footer>
</body>
</html>