<header class="header">
    <div>
        <h1 class="nav_title">Best Books!</h1>
        <ul class="nav_list">
            <li><a href="/">Home</a></li>
            <li><a href="/search">Search</a></li>
        </ul>
    </div>
</header>